body {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form input {
  margin-bottom: 10px;
}
form .text-input {
  width: 250px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login form .text-input:focus-visible {
  border: 1px solid #ccc;
}
.button {
  background-color: transparent;
  border: 1px solid #ccc;
  height: 20px;
  border-radius: 5px;
}
.button:hover {
  background-color: #ccc;
}
